@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.ant-menu-item, .ant-menu-submenu-title {
	display: flex !important;
	align-items: center;
}