@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	background: black;
}

.ant-menu-item, .ant-menu-submenu-title {
	display: flex !important;
	align-items: center;
	height: 100%;
}

.ant-descriptions-item-label::after {
	font-size: 1.25rem
}
.ant-descriptions-item-content {
	align-items: center !important;
}
